// Custom Variables
@import 'config/variables';
@import 'config/theme-config';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mixins/mixins';

// Structure
@import 'structure/sidenav';
@import 'structure/topbar';

// Components
@import 'components/reboot';
@import 'components/print';


// 커스텀 css
.logo-box {
  .logo-lg {
    height: 32px;
  }
}

div[data-radix-popper-content-wrapper] {
  z-index: 6;
}

.app-header {
  position: sticky;
  display: flex;
  width: 100%;

}

.page-body {
  flex-direction: row;
  display: flex;
  position: sticky;
}

.content-area {
  flex: 1;
}

.app-menu {
  z-index: 2;
  top: 0px;
  padding-top: 0px;
  height: 100vh;
}

.page-content {
  z-index: 1;
}

html[data-sidenav-view=mobile].sidenav-enable .app-menu {
  z-index: 50;
  top: 0px;
  padding-top: 0;
  height: 100vh;
}